/* App.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.header {
  background-color: #004b87;
  color: black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  margin: 0;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}


.hero {
  background-size: cover;
  background-position: center;
  color: black;
  background-color:  #343a40;
  text-align: center;
  padding: 5rem 1rem;
}

.hero h2 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
  color:white
}

.hero p {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
  color: white;
}

.cta-button {
  background-color: #ffb400;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e69a00;
}

.about,
.services,
.footer {
  padding: 2rem 2rem;
  background-color: white;
  text-align: center;
  margin-top: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  color:white;
  margin-top: auto;
  background-color: #004b87;
}

.about h2,
.services h2,
.footer h2 {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}

.services ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.services li {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.footer p {
  margin: 0.5rem 0;
  color:white;
}

/* Add responsiveness */
@media (max-width: 768px) {
  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .services ul {
    flex-direction: column;
  }

  .services li {
    margin-bottom: 1rem;
  }
}

.footer {
  color: white;
  background-color: #333;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer p {
  margin: 0 1rem;
  font-size: 0.9rem;
  color: white;
}




