/* Navbar styles */
.navbar {
    /* background-color: #343a40; Dark background color */
    background: transparent;
  }
  
  .navbar-brand {
    color: white; /* White text color */
  }
  
  .navbar-toggler {
    border-color: white; /* White border color for the toggler */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .nav-link {
    color: white; /* White text color */
  }
  
  .nav-link.active {
    font-weight: bold; /* Bold font for active link */
  }
  
  .nav-item {
    margin: 0 1rem; /* Horizontal margin between nav items */
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .navbar-nav {
      text-align: center; /* Center nav items on smaller screens */
    }
  
    .nav-item {
      margin: 0.5rem 0; /* Vertical margin for nav items on smaller screens */
    }
  }
  