/* General Styles */
body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.transit-h1 {
  margin-top: 20px;
  color: #333;
  font-size:35px;
  padding: 10px 0;
  font-weight: bold;
}

/* Table Styles */
.transit-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
  overflow-x: auto; /* Allows horizontal scrolling for smaller screens */
}


.transit-tr th {
background-color: #343a40;
}
.transit-tabl th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: black;
  color: white;
}

td {
  background-color: #f0f8ff;
}

/* Add Button Styles */
.transit-add-btn {
  margin: 10px 0;
  background-color: #343a40;
  border-radius: 12px;
  font-weight: bold;
}

.transit-add-btn .transit-link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Button Styles */
.update-btn, .delete-btn {
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.transit-add-btn:hover {
  background-color: #666;
}
 .delete-btn:hover {
  background-color: #666;
}

.delete-btn {
  background-color: #F44336;
}

.delete-btn:hover {
  background-color: #D32F2F;
}

/* Pagination and Responsiveness */
p {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  table {
    width: 100%;
    display: block; /* Makes the table scrollable horizontally on smaller screens */
    overflow-x: auto;
  }

  th, td {
    padding: 8px;
    font-size: 12px;
  }

  .add-btn a {
    padding: 8px 16px;
    font-size: 14px;
  }

  .update-btn, .delete-btn {
    padding: 4px 8px;
    font-size: 12px;
  }

  h1 {
    font-size: 18px;
  }

  /* Adjust the layout for very small screens */
  .App {
    padding: 10px;
  }

  /* Hide the table's first column (ID) on very small screens */
  td:first-child, th:first-child {
    display: none;
  }
}
